@use "variables" as var;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    input {
        text-align: center;
    }
}