@use "variables" as var;

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 800px;
}

.logs {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    overflow-y: scroll;
    height: 300px;
    width: 80%;

    &::-webkit-scrollbar {
        display: none;
    }

    .logsContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

}