@use "variables" as var;

@keyframes dmgNumberFade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.imgContainer {
    width: 250px;
    height: 250px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .dmgNumber {
        position: absolute;
        color: red;
        font-size: 3rem;
        font-weight: 600;
        top: 30;
        z-index: 2;
        // animation: dmgNumberFade 0.75s linear infinite;
    }
}

.fighter1,
.fighter2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .weapContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .weaponType {
            width: 20px;
        }
    }
}

.fighter2 {
    .sprite {
        transform: scaleX(-1)
    }
}